<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <div id="app">
            <input type="text" v-model="styles.color" />
            <input type="text" v-model="styles.fontSize" />
            <div :style="styles">
                Hello World!
            </div>
        </div>
    </body>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script>
        
        var app = new Vue({
            el: "#app",
            data: {
                styles: {
                    color: 'black',
                    fontSize: '16px'
                }
            }
        })
    </script>
</html>